<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div>
        <img src="/images/logo-mercado-liebre.svg" alt="imagen-logo">
        </div>
        <div>
            <p>Lugar para poner la barra de busqueda</p>
        </div>
        <h3>comprá en cuotas y sin tarjetas de crédito</h3>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/singup">Creá tu cuenta</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/miscompras">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="imagen-banner">
       <section>
            <article>
                <h2>Basado en tú última visita</h2>
                <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                </div>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
                <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                </div>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
                <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung-galaxy-s10">
                </div>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
                <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen smart tv">
                </div>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
            <article>
                <h2>Sección de Ofertas</h2>
                <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                </div>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
                <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook">
                </div>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
                <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung-galaxy-s10">
                </div>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
                <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen smart tv">
                </div>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>