<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <script src="https://kit.fontawesome.com/52f76aa58c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">
    <header class="home__header">
        <div class="header__contenedor1">
           <img class="home__header--logo" src="/images/logo-mercado-liebre.svg" alt="imagen-logo">
            <div class="home__header--box--buscador">
                <input type="search" placeholder="Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <a class="home__header--hand" href=""><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin
                tarjetas de crédito</a>
        </div>
        <div class="home__header__nav--burguer--menu">
            <button onclick="document.querySelector('.home__header__menu__navegacion').classList.toggle('showMenu')"><i class="fa-solid fa-bars"></i></button>
          </div>
        <div class="home__header__menu__navegacion">
            <nav class="home__header__nav--menu">
                <ul>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendasoficiales">Tiendas oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="home__header__nav--menu--2">
                <ul>
                    <li><a href="/register">Creá tu cuenta </a><i class="fa-regular fa-address-card"></i></li>
                    <li><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="/miscompras">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        </div>
      
    </header>
    <main class="register__main">
        <form action="/" class="formulario">
        <div class="seccion1">
            <div class="elemento">
                <label for="user"></label>
                <input class="form__input" id="user" type="text" placeholder="Nombre de usuario" name="user">

                <label for="password"></label>
                <input class="form__input" id="password" type="password" placeholder="Contraseña" name="password">
            </div>
            </div>
        <div class="seccion4">
            <div class="seccion4__buttons">
              
                <button class="login__button__form" type="submit">Enviar</button>
            </div>
        </div>
        </form>
    </main>
    <footer class="home__footer">
        <div class="home__footer__section">
            <article class="home__footer__section__article">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="home__footer__section__article--title">Pagá con tarjeta o en efectivo</h4>
                <p class="home__footer__section__article--description">Con Mercado Liebre Cash, tenés cuotas sin interés
                    con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="home__footer__section__article">
                <i class="fa-solid fa-gift"></i>
                <h4 class="home__footer__section__article--title">Envío gratis desde $ 2.500</h4>
                <p class="home__footer__section__article--description">Solo por estar registrad@ en Mercado Liebre tenés
                    envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="home__footer__section__article">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="home__footer__section__article--title">Seguridad, de principio a fin</h4>
                <p class="home__footer__section__article--description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
                    hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <p class="home__footer__section__article--copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>