:root {
    --tipografiaGeneral: 'Roboto';
    --sizeCuerpos: 12px;
    --sizeTitulares: 24px;
    --sizePrecios: 18px;
    --sizeDescuentos: 16px;
    --sizeDescripciones: 16px;
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--tipografiaGeneral);
    background-color: var(--colorGrisClaro);
}

header {
    background-color: var(--colorAmarillo);
}
.home__banner{
    width: 100%;
}

footer {
    background-color: white;
    padding: 15px;
    text-align: center
}

h2 {
    font-size: var(--sizeTitulares);
    color: var(--colorGrisOscuro);
}

h3 {
    font-size: var(--sizeDescripciones);
}

ul li {
    list-style: none;
}

a {
    font-size: var(--sizeCuerpos);
    text-decoration: none;
    color: black;
}

ul {
    padding-left: 0;
}