/* Header */

.home__header--logo {
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

.home__header--box--buscador {
    margin-top: 10px;
    padding-left: 16px;
}

.home__header--hand {
    font-size: var(--sizeCuerpos);
    margin-left: 40px;
    display: inline-block;
    margin-top: 30px;
}

.home__header--title {
    font-family: var(--tipografiaGeneral);
    font-size: var(--sizeCuerpos);
    font-weight: 400;
    display: inline-block;
}

.home__header__nav--menu {
    font-size: var(--sizeCuerpos);
    margin: 10px 0;
    display: none;
}

.home__header__nav--menu--2 {
    font-size: var(--sizeCuerpos);
    display: none;
}

.home__header__nav--burguer--menu {
    background-color: var(--colorCeleste);
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 20px 130px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;

}

/* Main */

.home__main {
    margin: 0 auto;
    width: 90%;
}

.home__main__section__article--box {
    margin: 10px 0;
}

.home__main__section__article--box i {
    display: block;
    color: var(--colorVerde);
    margin-top: 10px;
    border: solid green 1px;
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: 20px;
    top: -15px;
}

.home__main__section__article--box2 {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 10px;
}

.home__main__section__article--product {
    max-width: 100%;
    margin-bottom: -3px;
}

.home__main__section__article--title {
    font-size: var(--sizeTitulares);
    width: 100%;
}

.home__main__section__article--precio {
    font-size: var(--sizePrecios);
}

.home__main__section__article--descuento {
    font-size: var(--sizeDescuentos);
    color: var(--colorVerde);
}

.home__main__section__article--descripcion {
    font-size: var(--sizeDescripciones);
    color: var(--colorGrisOscuro);
    margin-top: 15px;
    display: none;
}

/* Footer */

.home__footer__section__article i {
    color: var(--colorCeleste);
    font-size: 30px;
    margin: 40px 0 10px;
}

.home__footer__section__article--title {
    color: var(--colorGrisOscuro);
    font-size: 1em
}

.home__footer__section__article--description {
    font-size: 11px;
    margin-left: 30px;
    margin-right: 30px;

}

.home__footer__section__article--copyrigth {
    font-size: 12px;
    margin-top: 40px;
    text-align: left;
}
