@media (min-width: 769px) {
    /* Header */

    .home__header__nav--menu {
        display: block;
    }

    .home__header__nav--menu--2 {
        display: block;
    }

    .home__header__nav--burguer--menu {
        display: none;
    }

    /* Main */
    
    .home__main__section__article--box {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__main__section__article--product{
        width: 100%;
    }

    .home__main__section__article--descripcion {
        display: block;
    }
}